<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>CAMERA </string>

    <key>NSAppTransportSecurity</key>
    <string>NSAppTransportSecurity</string>

	<key>NSLocalNotificationsUsageDescription</key>
	<string>notification checkin checkout</string>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
